div {
  font-size: 30px;
  height: 40px;
  border-radius: 10px;
  padding-bottom: 0px;
  padding-top: 2px;
}
.b {
  border-color: black;
  border-width: 2px;
  border-style: solid;
  color: black;
  background-color: white;
}
.c {
  border-color: orangered;
  border-width: 3px;
  border-style: solid;
  color: white;
  background-color: black;
}
.d {
  border-style: double;
  border-color: blue;
  border-width: 5px;
  color: purple;
  background-color: cyan;
}
.e {
  border-style: dotted;
  color: purple;
  border-color: orangered;
  border-width: 15px;
  background-color: orange;
}
